[Unit]
Description=Prometheus Node Expoter
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart=/usr/sbin/node_exporter $OPTS
StandardOutput=journal
StandardError=journal
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
